 <%= form_with model: theme, local: true do |f| %>
   <div>
     <%= f.label :title %>
     <%= f.text_field :title %>
   </div>
   <div>
     <%= f.label :genre %>
     <%= f.text_field :genre %>
   </div>

   <%= f.submit (t 'themes.new.submit')%>
 <% end %>