 <%= form_with model: theme, local: true do |f| %>
   <div>
     <%= f.label :title %>
     <%= f.text_field :title %>
   </div>
   <div>
     <%= f.label :genre %>
     <%= f.select :genre,
                  #['邦楽', '洋楽', 'J-POP', 'J-Rock', 'ロック', 'オルタナティブ', 'ポップ', 'K-POP', 'ダンス', 'ヒップホップ', 'パンク','クラシック', 'ジャズ'],
                  #['洋楽', '洋楽'], ['J-POP', 'J-POP,j-pop, ""']
                  [
                    ['邦楽', '邦楽,j-,japanese,vocaloid'], ['洋楽', '洋楽,j-,japanese,vocaloid'],
                    ['J-POP', 'J-POP,j.+pop'], ['J-Rock', 'J-Rock,j.+rock'],
                    ['ロック', 'ロック,rock'], ['オルタナティブ', 'オルタナティブ,alternative'],
                    ['ポップ', 'ポップ,pop'], ['K-POP', 'K-POP,k-pop'],
                    ['エレクトロニック', 'エレクトロニック,elect'], ['ヒップホップ/ラップ', 'ヒップホップ/ラップ,hip hop,rap'],
                    ['クラシック', 'クラシック,composition,classical'], ['ジャズ', 'ジャズ,jazz']
                  ],
                  { include_blank: true }
     %>
   </div>
   <div>
     <%= f.label :tag_names, Tag.human_attribute_name(:name) %>
     <%= f.text_field :tag_names, placeholder: '例: #JROCK #邦ロック好き' %>
   </div>
   <div>
     <%= f.label :theme_image %>
     <%= f.file_field :theme_image, accept: 'image/*' %>
     <%= f.hidden_field :theme_image_cache %>
   </div>
   <%= f.submit %>
 <% end %>