<div class="card bg-gray-200 p-8 m-8 w-3/5 h-80">
  <div class="card-body">
    <div class="flex">
      <figure class="object-contain h-60 w-60"><%= image_tag theme.theme_image_url if theme.theme_image_url %></figure>
      <div class="flex flex-col ml-96">
        <div class="card-title text-4xl mt-3"><%= link_to theme.title, theme_path(theme) %></div>
        <div class="mt-3 text-xl "><%= theme.genre %></div>
      </div>
    </div>
    <div class="" >
      <% if current_user %>
        <%= link_to 'Edit', edit_theme_path(theme) if current_user.own?(theme) %>
        <%= link_to 'Delete', theme_path(theme), data: { turbo_method: :delete } if current_user.own?(theme) %>
      <% end %>
    </div>
  </div>
</div>