<div class="mb-28">
<% if current_user %>
  <div class="flex justify-end mr-4 space-x-5">
    <%= link_to '編集', edit_theme_path(@theme) if current_user.own?(@theme) %>
    <%= button_to '削除する', theme_path(@theme),{ method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" }}} if current_user.own?(@theme) %>
  </div>
<% end %>
<div class="flex flex-col flex-wrap items-center mt-4">
  <%# お題画像 %>
  <%= image_tag @theme.image_url, {class:"w-1/2 md:w-2/5 lg:w-3/10 xl:w-4/12 2xl:w-1/4"} if @theme.image_url %>

  <%# お題 %>
  <h2 class="mt-5 md:text-2xl font-semibold"><%= @theme.title %></h2>

  <%# ジャンル %>
  <h3 class="md:text-l"><%= "ジャンル: #{@theme_genre.first}" if @theme_genre.present? %></h3>

  <%# お題詳細 %>
  <div class="text-sm text-gray-500 w-1/2 md:w-2/5 lg:w-3/10 xl:w-4/12 2xl:w-1/4 mt-4"><%= simple_format(@theme.description) %></div>

  <%# タグ %>
  <%# <div>
    タグ：<%= render @theme.tags %>
  <%# </div> %>

    <div class="flex justify-center mx-auto w-1/5 mt-8 mb-10">
      <%= link_to "解答を投稿する", new_theme_answer_path(@theme), class:"font-meiryo w-full rounded-full bg-green-500 text-black hover:bg-black hover:text-green-500 px-1 py-2 text-center text-xl"%>
    </div>
    
    <% if !@answers.empty? %>
      <div class="flex self-center text-sm mb-1">
        ※PCの方は
        <div class="text-green-500 italic"><%= link_to "Spotify", "https://accounts.spotify.com/ja/login", target: :_blank, rel: "noopener noreferrer" %></div>
        にログインすることで楽曲がフルで聴けます。
      </div>
    <% end %>
</div>

<% if !@answers.empty? %>
  <div class="flex flex-col w-1/2 border border-black rounded-md mx-auto mb-10">
    <%# 解答一覧 %>
    <%= render @answers, { theme: @theme, my_answer: @my_answer} %>
  </div>

  <%# コメントフォーム %>
  <%# if current_user %>
    <%# <div class="flex w-1/2 mx-auto"> %>
      <%#= render 'comments/form', { theme: @theme, comment: @comment } %>
    <%# </div> %>
  <%# end %>

  <%# コメントエリア %>
  <%# <h4>コメント一覧</h4> %>
  <%#= render 'comments/comments', { theme: @theme, comments: @comments } %>
<% end %>

</div>