<div class="flex flex-col items-center pt-4 pb-10">
  <%# お題画像 %>
  <%= image_tag @theme.image_url, {class:"w-1/2 md:w-2/5 lg:w-1/4" } if @theme.image_url %>

  <%# お題 %>
  <h2 class="mt-4 md:text-xl font-semibold"><%= "お題: #{@theme.title}" %></h2>

  <%# ジャンル %>
  <h3 class="md:text-l"><%= "ジャンル: #{@theme_genre.first}" if @theme_genre.present? %></h3>

  <%# タグ %>
  <%# <div>
    タグ：<%= render @theme.tags %>
  <%# </div> %>
</div>

<div class="flex flex-col items-center mb-4">
  <%# 解答投稿ボタン%>
  <div>
    <%= link_to '解答を投稿する', new_theme_answer_path(@theme), {class: "btn btn-xs sm:btn-sm md:btn-md lg:btn-lg"} %>
  </div>
</div>
  
<div class="flex flex-col w-1/2 border border-black mx-auto mb-10">
  <%# 解答一覧 %>
  <%= render @answers, { theme: @theme, my_answer: @my_answer} %>
</div>

    <%# コメントフォーム %>
    <%# if current_user %>
      <%#= render 'comments/form', { theme: @theme, comment: @comment } %>
    <%# end %>

    <%# コメントエリア %>
    <%# <h4>コメント一覧</h4> %>
    <%#= render 'comments/comments', { theme: @theme, comments: @comments } %>
