<%# お題 %>
<h2><%= "お題: #{@theme.title}" %></h2>

<%# お題画像 %>
<%= image_tag @theme.theme_image_url, size: '300x200' if @theme.theme_image_url %>

<%# タグ %>
<div>
  タグ： <%= render @theme.tags %>
</div>

<%# 解答一覧 %>
<h3>解答一覧</h3>
<%= render @answers, { theme: @theme, my_answer: @my_answer} %>

<%# 解答フォーム %>
<div>
  <%= link_to '解答を投稿する', new_theme_answer_path(@theme) %>
</div>
<%#= render 'themes/search_form', { songs: @songs, theme: @theme, search_params: @search_params, my_answer: @my_answers, answers: @answers } %>

<%# コメントフォーム %>
<% if current_user %>
  <%= render 'comments/form', { theme: @theme, comment: @comment } %>
<% end %>

<%# コメントエリア %>
<h4>コメント一覧</h4>
<%= render 'comments/comments', { theme: @theme, comments: @comments } %>