<header>
  <div class="header-logo">
    <%= link_to root_path do %>
      <%= 'Logo' %>
    <% end %>
  </div>

  <div class="header-list">
    <ul>
      <li><%= link_to (t 'themes.new.title'), new_theme_path %></li>
      <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", '#' %></li>
      <li><%= link_to (t 'defaults.logout'), logout_path, data: { turbo_method: :delete } %></li>
    </ul>
  </div>
</header>