<div class="flex flex-col items-center mb-20">
  <%= form_with url: login_path, class: "bg-white pt-10 flex flex-col w-11/12 md:w-9/12 lg:w-5/12 border-b", local: true do |f| %>
    <p class="text-2xl md:text-4xl text-center md:text-left font-bold border-b pb-2 w-full"><%= t 'defaults.login' %></p>
    <div class="mt-5">
      <%= f.label :email, User.human_attribute_name(:email), class: "text-m font-bold" %>
      <%= f.text_field :email, class: "block mt-2 border border-black rounded-sm w-full py-3 px-3 leading-tight" %>
    </div>
    <div class="mt-5">
      <%= f.label :password, User.human_attribute_name(:password), class: "text-m font-bold" %>
      <%= f.password_field :password, class: "block mt-2 border border-black rounded-sm w-full py-3 px-3 leading-tight"  %>
      <div class="justify-end flex mt-2">
        <%= link_to 'パスワードをお忘れですか？', new_password_reset_path	, class:"text-sky-600" %>
      </div>
    </div>
    <div class="mt-2 text-red-500"><%= flash.now[:danger] %></div>
    <button class="mt-7 mb-9 bg-black hover:bg-zinc-700 text-white hover:text-slate-50 font-bold py-2 w-full text-center">
      <%= f.submit (t 'defaults.login') %>
    </button>
  <% end %>
  <div class="mt-5 mb-36">
    <div>
      アカウントをお持ちでないですか？<%= link_to (t '.to_register_page'), new_user_path, class:"text-sky-600	ml-1" %>
    </div>

    <%#= link_to (t '.password_forget'), '#' %>
  </div>
</div>